---
import { type CollectionEntry, getCollection, render } from "astro:content";
import Layout from "../layouts/Layout.astro";

export async function getStaticPaths() {
  const countries = await getCollection("countries");
  return countries.map((post) => ({
    params: { slug: post.id },
    props: post,
  }));
}

type Props = CollectionEntry<"countries">;

const post = Astro.props;
const { Content } = await render(post);
---

<Layout
  title={post.data.title}
  description={post.data.description}
  image={post.data.image}
>
  <main>
    <Content />
  </main>
</Layout>
